.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    height: 4%; 
    border: 2px solid hsl(0, 0%, 25%, 0.5);
    box-sizing: border-box;
    border-radius: 8px;
}

.navbar-left .logo {
    height: 30px;
    width: auto;
}

.navbar-right {
    display: flex;
    height: 100%; 
    align-items: center;
}

.navbar-right .nav-link {
    text-decoration: none;
    color: black;
    padding: 1% 2%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 1.2rem;  
}

.navbar-right .nav-link:last-child {
    margin-left: 3rem; 
}

.navbar-right .nav-link:hover {
    background-color: red;
    height: 40px;
    color: white;
}

.navbar-right .active-link {
    background-color: red;
    color: white;
}

app-navbar {
    position: relative;
    z-index: 10;
}
