.weather-list {
    min-height: 100vh;
    width: 100%;
    background: url('./../../../assets/vodafone-bg.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
}

/* Filters (Search + Toggle) */
.filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
}

/* Cards grid */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 0 16px 16px 16px;
    width: 100%;
    box-sizing: border-box;
}
